.b-gallery {
    padding-inline: 50px;

    &-inner {
        padding-inline: 70px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include desktop {
            padding-inline: 50px;
        }

        @include phone {
            padding-inline: 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}