.b-realisatie {
    padding-inline: 50px;
    padding-top: 80px;

    &-inner {
        padding-block: 100px;
        padding-inline: 70px;
        border-radius: 5px;

        display: flex;
        gap: 140px;


        @include desktop {
            padding-inline: 50px;
            padding-block: 50px;
            gap: 50px; 
        }

        @include tablet {
            flex-direction: column;
        }

        &.reverse {
            flex-direction: row-reverse;

            @include tablet {
                flex-direction: column;
            }
        }
    }

    &-body, &-thumbnail {
        max-width: 50%;
        width: 100%;

        @include tablet {
            max-width: 100%;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;;
        gap: 45px;

        &-title {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-img {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: flex-start;

            img {
                width: unset;
                height: 60px;
            }
        }
    }

    &-thumbnail {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .swiper {
            height: unset;

            &-wrapper {
                height: unset;
            }
        }
    }
}