.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: rem(-10px);
    margin-right: rem(-10px);
}

.column {
    flex: 0 1 100%;
    margin-left: rem(10px);
    margin-right: rem(10px);
    max-width: 100%;
}

@include tablet {
    .column {
        flex: 1;
    }
}