.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
}

.column {
    flex: 0 1 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
}

@include tablet {
    .column {
        flex: 1;
    }
}