.footer {
    background: $darkblue;

    a {
        color: $white;
        text-decoration: none;
    }

    &-inner {
        padding-inline: 100px;
    }

    &-main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-block: 20px;
    }

    &-logo {
        a {
            display: block;

            width: #{fluid(80px, 150px)};

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;


        &-info {
            ul {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    i {
                        display: block;
                        width: 15px;
                        height: 15px;

                        svg {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        &-newsletter {}
        &-social {}
    }

    &-secondary {}
}