.spacer {
    height: $spacer;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    background: $darkblue;

    &-inner {
        padding-inline: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include desktop {
            padding-inline: 50px;
        }
    }

    &-logo {
        &-inner {
            width: #{fluid(150px, 250px)};

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    &-navigation {
        &-inner {
            nav {
                @include tablet {
                    display: none;
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 50px;

                    @include desktop {
                        gap: 25px;
                    }

                    li {
                        a {
                            color: $white;
                            text-decoration: none;
                            font-size: $text-16;
                            font-weight: $font-medium;

                            &.contact {
                                border: 1px solid $white;
                                border-radius: 5px;
                                padding-inline: 25px;
                                padding-block: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}