.fancybox {
    &__content {
        padding: 5rem!important;

        .carousel__button {
    
            &.is-close {
                top: 0!important;
                right: 0;

                svg {
                    color: $black;
                    filter: none;
                    width: rem(20px);
                    height: rem(20px);
                }
            }
        }
    }
}