.text-sm {
    font-size: $text-sm;
}

.text-base {
    font-size: $text-base;
}

.text-lg {
    font-size: $text-lg;
}

.text-xl {
    font-size: $text-xl;
}

.text-2xl {
    font-size: $text-2xl;
}

.font-regular {
    font-weight: $font-book;
}

.font-medium {
    font-weight: $font-medium;
}

.font-bold {
    font-weight: $font-bold;
}

.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.border-white {
    border: 2px solid $white;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 3, 6, 0.2);
}
