$black: #3B3B3B;
$white: #FAFAFA;

$gotham: 'Gotham', sans-serif;

$font-book: 400;
$font-medium: 500;
$font-bold: 600;

$text-2xl: #{fluid(30px, 50px, 320px, 1920px)};
$text-xl: #{fluid(20px, 35px, 320px, 1920px)};
$text-lg: #{fluid(15px, 20px, 320px, 1920px)};
$text-base: #{fluid(14px, 18px, 320px, 1920px)};
$text-sm: #{fluid(12px, 16px, 320px, 1920px)};
$text-xs: #{fluid(10px, 14px, 320px, 1920px)};

$spacer: #{fluid(106px, 176px, 320px, 1920px)};
