.b-contact {
    padding-inline: 100Px;
    padding-top: 80px;

    @include desktop {
        padding-inline: 50px;
    }

    &-inner {
        display: flex;
        gap: 70px;

        @include tablet {
            flex-direction: column-reverse;
            gap: 50px;
        }
    }

    &-body, &-thumbnail {
        max-width: 50%;
        width: 100%;

        @include tablet {
            max-width: 100%;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 50px;

        &-content, &-form {
            display: flex;
            flex-direction: column;
            gap: 25px;

            a {
                color: $black;
            }
        }
    }
}